#render-panel {
  width: 50%;
  height: 80%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

#statistics-panel {
  width: 50%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 1;
}

#log-panel {
  width: 100%;
  height: 20%;
  position: absolute;
  left: 0;
  top: 80%;
  z-index: 1;
  padding: 16px;
  overflow: auto;
}

#control-panel {
  width: auto;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

#vertical-line {
  width: 8px;
  height: 80%;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 0;
}

#horizontal-line {
  width: 100%;
  height: 8px;
  background-color: black;
  position: absolute;
  left: 0;
  top: 80%;
}

#chart1 {
  width: 100%;
  height: 100%;
}

#chart2 {
  width: 100%;
  height: 100%;
}

#chart3 {
  width: 100%;
  height: 100%;
}

#chart4 {
  width: 100%;
  height: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.matrix-container {
  display: grid;
  background-color: #2196F3;
  padding: 10px;
}

.matrix-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  text-align: center;
}

.grid-two {
  display: grid;
  grid-template-columns: 50% 50%;
}

.node-label {
  font-size: 8px;
}
